<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/signin/style.css">
  <title>signin</title>
</head>
<body>

<div id="header">
  <div class="header-box">
    <div class="header-logo">
      <a href="index.html" class="header-logo-text">LoginTest</a>
    </div>
    <div class="header-list">
      <a href="login.html" class="header-list-text">ログイン</a>
    </div>
  </div>
</div>

<div id="main">

</div>

</body>
</html>