@mixin clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin stack-top($margin-top-size) {
	& > * {
		margin-top: $margin-top-size;
		&:first-child {
			margin-top: 0px !important;
		}
	}
	@include clearfix;
}

@mixin stack-left($margin-left-size) {
	& > * {
		float: left;
		margin-left: $margin-left-size;
		&:first-child {
			margin-left: 0px !important;
		}
	}
	@include clearfix;
}

@mixin stack-right($margin-right-size) {
	@include stack-left($margin-right-size);
	float: right;
}
