.a-logo {
  text-decoration: none;
}

.ul-none li {
  list-style-type: none;
}

#header {
  margin: 0 auto;
  overflow: hidden;
  background-color: #fafafa;
}

.header-box {
  margin: 40px 100px;
}

.header-box > * {
  float: top;
}

.header-box > * + * {
  margin-top: 12px;
}

.header-box::before {
  content: "";
  display: block;
  clear: both;
}

.header-box::after {
  content: "";
  display: block;
  clear: both;
}

.header-logo-text {
  font-size: 40px;
  text-decoration: none;
  color: #000000;
}

.header-list {
  float: right;
}

.header-list > * {
  float: left;
}

.header-list > * + * {
  margin-left: 48px;
}

.header-list::before {
  content: "";
  display: block;
  clear: both;
}

.header-list::after {
  content: "";
  display: block;
  clear: both;
}

.header-list-text {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  text-decoration: none;
  color: #000000;
}

#main {
  margin: 0 auto;
  overflow: hidden;
}

.main-box {
  margin: 40px 100px;
}

.main-signup-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
