@import "layout_parts";
@import "surface_parts";

#header {
	margin: 0 auto;
	overflow: hidden;
	background-color: #fafafa;
}
.header {
	&-box {
		margin: 40px 100px;
		@include stack--top(12px);
	}
	&-logo {
		&-text {
			font-size: 40px;
			@include logo-a(#000000);
		}
	}
	&-list {
		float: right;
		@include stack--left(48px);
		&-text {
			display: inline-block;
			text-align: center;
			font-size: 16px;
			height: 52px;
			line-height: 52px;
			@include logo-a(#000000);
		}
	}
}

#main {
	margin: 0 auto;
	overflow: hidden;
}
.main {
	&-box {
		margin: 40px 100px;
		// @include stack--top(12px);
	}
	&-signup {
		&-text {
			display: inline-block;
			width: 100%;
			text-align: center;
			@include logo-a(#000000);
		}
	}
}